<ul ng-controller="bundleController">
  <li ng-repeat="bundle in bundles">
    <%= link_to 'Edit {{bundle.name}} bundle', '/bundle/edit/{{bundle.id}}' %>
  </li>
</ul>

<%= link_to 'New bundle', '/bundle/new', class: 'pure-button pure-button-primary' %>
